<div class="login-background">

  <div class="authImg-div">

    <img class="authImg" src="assets/img/authImg.png">

    <div class="authImg-color"></div>

  </div>

  <div class="login-external-div">

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-internal-div" ngNativeValidate>

      <div class="login-title-div">
        <h1 class="login-title">Prenotazioni Spaces</h1>
      </div>

        <div class="login-form-div">
          <div class="email-input">
            <label class="form-label" for="email"></label>
            <input type="email" id="email" placeholder="email" class="input-box" formControlName="email" required/>
            <div *ngIf="checkEmail" class="error-class">*Email inesistente</div>
          </div>


          <div class="password-input">
            <label class="form-label" for="password"></label>
            <input type="password" id="password" placeholder="password" class="input-box" formControlName="password" minlength="7" required/>

          </div>
        </div>

      <div class="login-buttons-div">

        <button type="button" class="signup-btn white-btn" routerLink="/auth/signup">Registrati</button>
        <button [disabled]="!loginForm.valid" type="submit" class="login-btn blue-btn">Accedi</button>

      </div>


    </form>



  </div>

</div>
