.my-dialog-admin {
  height: 28rem;
  width: 35rem;
}

.capacity-input {
  width: 7rem;
}

.icon-size {
  transform: scale(170%);
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.my-pencil {
  border: .18rem solid #3f3f3f;
  border-radius: .4rem;
  transform: scale(130%);
  margin-right: .3rem;
}

.my-pencil-blue {
  border: .18rem solid #0278DB;
  border-radius: .4rem;
  transform: scale(130%);
  margin-right: .3rem;
}

.admin-map-logo {
  margin-top: -2rem;
}

