.login-background{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

body{
  margin: 0;
}

.authImg-div{
  display: flex;
  position: relative;
  width: 45vw;
  height: 100vh;
  overflow: hidden;
}

.authImg{
  width: 100%;
  height: 100%;
}

.authImg-color{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#678DDB;
  opacity: 10%;
}

.login-external-div{
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-internal-div{
  width: 70%;
  height: 70%;
  position: relative;
}

.login-title-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.login-title{
  font-size: 5rem;
  font-weight: bolder;
  color: #022A8E;
  font-family: sans-serif;
}

.login-form-div, .signup-form-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.login-form-div{
  height: 30%;
}

.signup-form-div{
  height: 70%;
}


.login-buttons-div{
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}

.signup-btn , .login-btn{
  width: 10rem;
  height: 2.5rem;
}

.signup-button{
  width: 14rem;
  height: 3rem;
}

.blue-btn{
  background-color: #0278DB;
  color: white;
}

.blue-btn:disabled {
  background-color: rgba(2, 120, 219, 0.33);
  border-color: rgba(2, 120, 219, 0.33);
}

.input-box.ng-invalid.ng-touched{
  border: 2px solid #dc3545;
}

.white-btn{
  background-color: white;
  color: #0278DB;
}


.white-btn , .blue-btn{
  font-size: 1.3rem;
  border-radius: 1rem;
  border: 1px solid #0278DB;
  cursor: pointer;
  box-shadow:  2px 4px rgba(0, 0, 0, 0.1);
}

.email-input-div , .password-input-div , .input-div{
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
}

.input-box{
  align-self: center;
  padding-left: 1rem;
  width: 70%;
  height:60%;
  border-radius: 1rem;
  border: 1px solid #20C3F5;
  background-color: rgba(32, 195, 245, 0.1) ;
  color: #0278DB;
  box-shadow: 2px 4px rgba(32, 195, 245, 0.1);
}

.input-box::placeholder{
  color: rgba(32, 195, 245, 0.5);
}
.input-box:focus{
  outline: none;
  border-color: #0278DB;
}

.back-to-login{
  margin: 1rem;
  text-align: center;
  color: #a1a1a1;
  text-decoration: underline;
  cursor: pointer;
}

.error-class{
  font-size: x-small;
  color: red;
  text-align: start;
  margin-left: 7.5rem;
}

@media screen and (max-width: 1600px){
  .login-title{
    font-size: 4.5rem;
  }
}
