<app-header class="header-background"></app-header>
<div class="prenotation-detail-background">
  <div class="prenotation-detail-div">
    <div class="prenotation-top-div">

    </div>
    <div class="prenotation-body-div">
      <div class="left-prenotation-div">
        <div class="circle-external-div">
          <div class="circle-internal-div">
              <div class="circle-desk" *ngFor="let i of counter(booking.room?.maxCapacity)"></div>
          </div>
        </div>
      </div>
      <div class="right-prenotation-div">
        <div class="left-right-prenotation-div">
          <i class="bi bi-door-closed-fill detail-icons">
            <p>
              {{booking.room?.roomNumber}}
            </p>
          </i>
          <i class="bi bi-calendar3 detail-icons">
            <p>
            {{booking.bookDate}}
            </p>
          </i>
          <i class="bi bi-building detail-icons">
            <p>
            5
            </p>
          </i>
        </div>
        <div class="right-right-prenotation-div">
          <i class="bi bi-geo-alt-fill detail-icons">
            <p>Spaces Viale dell’Arte 19</p>
          </i>
        </div>
      </div>
    </div>
    <div class="bot-prenotation-div">
      <button class="signup-btn black-white-btn" (click)="openDialog(dialog)">Annulla Prenotazione</button>
      <button class="login-btn modify-btn">Modifica</button>
    </div>
  </div>

  <ng-template #dialog>
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>
      <p class="text-center">Sei sicuro di voler annullare la prenotazione?</p>
      <div>
        <button class="signup-btn white-btn m-1" routerLink="/prenotation-detail/:id">Indietro</button>
        <button type="submit" class="login-btn blue-btn m-1" (click)="deleteBookingById(booking.id)" routerLink="/home">Conferma</button>
      </div>
    </div>
  </ng-template>
</div>
