<app-header class="header-background"></app-header>
<div class="prenotation-detail-background">
  <div class="prenotation-detail-div">
    <div class="prenotation-top-div">

    </div>
    <div class="prenotation-body-div">
      <div class="left-prenotation-div">
        <div class="circle-external-div">
          <div class="circle-internal-div">
            <div class="circle-up-internal-div">
              <div class="circle-desk"></div>
              <div class="circle-desk"></div>
              <div class="circle-desk"></div>
            </div>
            <div class="circle-down-internal-div">
              <div class="circle-desk"></div>
              <div class="circle-desk"></div>
              <div class="circle-desk"></div>
            </div>
          </div>
        </div>
        <div class="desk-position-div">
          <p>ciao</p>
        </div>
      </div>
      <div class="right-prenotation-div">
        <div class="left-right-prenotation-div">
          <i class="bi bi-door-closed-fill detail-icons"></i>
          <i class="bi bi-calendar3 detail-icons"></i>
          <i class="bi bi-building detail-icons"></i>
        </div>
        <div class="right-right-prenotation-div">
          <i class="bi bi-geo-alt-fill detail-icons"></i>
        </div>
      </div>
    </div>
    <div class="bot-prenotation-div">
      <button class="signup-btn black-white-btn">Annulla Prenotazione</button>
      <button class="login-btn modify-btn">Modifica</button>
    </div>
  </div>
</div>
