.header{
  display: flex;
  justify-content: space-between;
  background-color: #0278DB;
  padding: 0 4rem;
  margin: 0 5.5rem;
  height: 4rem;
  border-radius: 0rem 0rem 2rem 2rem;
}

.nav-items-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30rem;
  text-transform: uppercase;
}

.nav-links{
  text-decoration: none;
}

.nav-items{
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
}

.profile-nav-div{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 40rem;
  .nav-profile{
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 3rem 0 0;
  }
  .logout-nav-div{
  img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
  }
}
}





.logout-item{
  cursor: pointer;
}

