#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5.5rem;
  .cardHome{
    text-decoration: none;
    color: black;
    background-color: #f8f8f8;
    border-radius: 0rem 0rem 0rem 2rem;
    box-shadow:  0px 5px rgba(0, 0, 1, 0.1);
    width: 20rem;
    height: 10rem;
    margin-bottom: 3rem;
  }
  .date{
    display: flex;
    justify-content: flex-end;
    .h5-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14rem;
      h5{
        position: relative;
        right: 1rem;
        font-weight: 500;
        font-size: 1.6rem;
      }
    }
    .cardTitle{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 14rem;
      height: 4.5rem;
      background-color: #0278DB;
      border-radius: 0rem 0rem 0rem 2rem;
      box-shadow: 0px 5px rgba(0, 1, 2, 0.1);
      p{
        position: relative;
        top: 0.35rem;
        font-weight: 400;
        font-size: 1.4rem;
        color: #f0f0f0;
      }
    }
  }
  .bodyCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 20rem;
    position: relative;
    top: 0.6rem;
    left: -0.5rem;
    img{
      margin-bottom: 1rem;
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
      filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(23deg) brightness(95%) contrast(101%);
    }
    p{
      font-weight: 400;
      font-size: 40px;
    }
  }
}

.no-bookings{
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 5.5rem;
  height: 50%;
  p{
    font-size: 1.3rem;
    color: #a1a1a1;
  }
}


