#container{
  text-decoration: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5.5rem;
  .cardHome{
    background-color: #f8f8f8;
    border-radius: 0rem 0rem 0rem 2rem;
    box-shadow:  0px 5px rgba(0, 0, 1, 0.1);
    width: 22rem;
    height: 10rem;
    margin-bottom: 3rem;
  }
  .date{
    display: flex;
    justify-content: flex-end;
    .h5-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14rem;
      h5{
        font-weight: 600;
        font-size: 1.3rem;
      }
    }
    .cardTitle{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 13rem;
      height: 5.5rem;
      background-color: #0278DB;
      border-radius: 0rem 0rem 0rem 2rem;
      box-shadow: 0px 5px rgba(0, 1, 2, 0.1);
      p{
        position: relative;
        top: 0.35rem;
        font-weight: 400;
        font-size: 1.4rem;
        color: #f0f0f0;
      }
    }
  }
  .bodyCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 20rem;
    img{
      height: 2.5rem;
      width: 2.5rem;
      filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(23deg) brightness(95%) contrast(101%);
    }
    p{
      font-weight: 400;
      font-size: 40px;
    }
  }

}




