.map-container{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0.7rem;
  grid-row-gap: 0.7rem;
  height: 43rem;
  width: 69rem;
}

.center-div{
  grid-area: 2 / 2 / 7 / 11;
}

.nounikey{
  border: 5px solid grey;
  border-radius: 0.5rem;
}


.unikey{
  border: 5px solid limegreen;
  border-radius: 0.5rem;
}

.segreteria{
  border: 5px solid grey;
  border-radius: 0.5rem;
}

.corner-room{
  width: 7.9rem;
}

.container-corner{
  height: 4rem;
}

.fullBooked{
  border: 5px solid red;
  border-radius: 0.5rem;
}

.small-center-div img{
  width: 7rem;
  margin-right: 4rem;
}

.center-div{
  display: flex;
  justify-content: space-between;
  padding: 7rem;
}

.small-center-div {
  width: 28rem;
  border-radius: 0.5rem;
  background-color: #d5d5d5;
  display: flex;
  justify-content: end;
  align-items: center;
}

.stairs{
  display: flex;
  justify-content: end;
}

.stairs img{
  width: 7rem;
}

.room-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.room-number {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.room-lock {
  margin: 0.5rem 0 0 0;
}

.room-capacity {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}
