<div class="header">

  <div class="nav-items-div">
    <a *ngIf="user?.roleResponseDTO?.roleName=='user'" routerLink="/cardBooking" class="nav-links"><span class="nav-items">Home</span></a>
    <a *ngIf="user?.roleResponseDTO?.roleName=='admin'" routerLink="/bookingadmin" class="nav-links"><span class="nav-items">Home</span></a>
    <a *ngIf="user?.roleResponseDTO?.roleName=='admin'" routerLink="/bookingadmin" class="nav-links"><span class="nav-items">Nuova prenotazione</span></a>
    <a *ngIf="user?.roleResponseDTO?.roleName=='user'" routerLink="/bookingroom" class="nav-links"><span class="nav-items">Nuova prenotazione</span></a>
  </div>


  <div class="profile-nav-div">
    <h4 class="nav-profile">{{user?.firstName}} {{user?.lastName}}</h4>
    <div class="logout-nav-div">
      <img src="{{user?.avatar == null ? 'assets/img/user-svgrepo-com.svg' : user?.avatar}}" mat-button [matMenuTriggerFor]="menu" id="headerAvatar">
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item routerLink="/settings">Profilo</button>
        <button mat-menu-item (click)="openDialog(dialog)">Logout</button>
      </mat-menu>
    </div>
</div>

<ng-template #dialog>
  <h1 mat-dialog-title></h1>
  <div mat-dialog-content>
    <p class="text-center">Sei sicuro di voler uscire?</p>
    <div>
      <button class="signup-btn white-btn m-1" (click)="closeDialog()">Annulla</button>
      <button type="submit" class="login-btn blue-btn m-1" (click)="logout()">Conferma</button>
    </div>
  </div>
</ng-template>
</div>
