<div class="header">

  <div class="nav-items-div">
    <a routerLink="/home" class="nav-links"><span class="nav-items">Home</span></a>
    <a routerLink="/prenotation-detail" class="nav-links"><span class="nav-items">Prenotazioni</span></a>
  </div>


  <div class="profile-nav-div">
    <h4 class="nav-profile">Hi, {{user?.name}}!</h4>
    <div class="logout-nav-div">
      <a  class="nav-links"><i (click)="logout()" class="bi bi-box-arrow-right nav-items logout-item"></i></a>
    </div>
  </div>






</div>


