<app-header class="header-background"></app-header>

<main class="settings-main" *ngIf="!isEditingProfile && !isEditingPassword">
  <div class="settings-container">
    <div class="settings-container-picture">
      <div class="container-picture-camera">
        <a><i class="bi bi-camera-fill fa-lg btn" mat-menu-item (click)="openDialog(dialog)"></i></a>
      </div>
      <div class="container-picture-img">
        <img src="{{user?.avatar}}">
      </div>
      <div class="container-picture-camera"></div>
    </div>
    <div class="settings-container-data">
      <div class="container-data-fullName">
        <h4><span>{{user?.firstName}} </span><span>{{user?.lastName}}</span></h4>
      </div>
      <div class="container-data-email">
        <h4>{{user?.email}}</h4>
      </div>
      <div class="container-data-phoneNumber">
        <h4>{{user?.phoneNumber}}</h4>
      </div>
    </div>
    <div class="settings-container-buttons">
      <div class="container-buttons-editPassword">
        <button type="button" class="editPassword-btn white-btn" (click)="editPassword()">CAMBIA PASSWORD</button>
      </div>
      <div class="container-buttons-editProfile">
        <button type="button" class="editProfile-btn blue-btn" (click)="editProfile()">MODIFICA PROFILO</button>
      </div>
    </div>
  </div>
</main>

<main class="settings-main" *ngIf="isEditingProfile">
  <div class="settings-container">
    <div class="container-editProfile">
      <div class="editProfile-title-div">
        <h1 class="editProfile-title">MODIFICA PROFILO</h1>
      </div>
      <form [formGroup]="editProfileForm" (ngSubmit)="submitProfile()" class="editProfile-form" ngNativeValidate>

        <!-- value:  valori in input form  -->
        <div class="editProfile-form-div">

            <div class="firstName-input-div">
              <label for="firstName"></label>
              <input type="text" id="firstName" class="input-box" formControlName="firstName" required/>
            </div>
            <div class="lastName-input-div">
              <label for="lastName"></label>
              <input type="text" id="lastName" class="input-box" formControlName="lastName" required/>
            </div>
            <div class="email-input-div">
              <label for="email"></label>
              <input type="email" id="email" class="input-box" formControlName="email" required/>
            </div>
            <div class="phoneNumber-input-div">
              <label for="phoneNumber"></label>
              <input type="text" id="phoneNumber" class="input-box" formControlName="phoneNumber" required/>
            </div>
        </div>

        <div class="editProfile-buttons-div">
          <button [disabled]="!editProfileForm.valid" type="submit" class="editProfile-btn blue-btn">CONFERMA</button>
        </div>
      </form>
    </div>
  </div>
</main>

<main class="settings-main" *ngIf="isEditingPassword">
  <div class="settings-container">

  </div>
</main>


<ng-template #dialog>
  <h1 mat-dialog-title></h1>
  <div mat-dialog-content>
    <div class="modale-img">
       <div class="form-group">
        <label for="file">Scegli Immagine</label>
        <input type="file" id="file" class="file-input" accept=".png, .jpg, .jpeg" (change)="onFileSelected($event)"  />
      </div>
      <div class="col-sm-4">
        <button (click)="onSaveFile()" class="login-btn blue-btn m-1">Carica</button>
        <button class="signup-btn white-btn m-1" (click)="closeDialog()">Annulla</button>
      </div>
    </div>
  </div>
</ng-template>
