<div class="login-background">
  <div class="authImg-div">
    <img class="authImg" src="assets/img/authImg.png">
    <div class="authImg-color"></div>
  </div>

  <div class="login-external-div">

    <form class="login-internal-div" [formGroup]="signupForm" (ngSubmit)="onSubmit()" ngNativeValidate>

      <div class="login-title-div">
        <h1 class="login-title">Prenotazioni Spaces</h1>
      </div>

      <div class="signup-form-div">
        <div class="input-div">
          <input type="text" placeholder="Nome" class="input-box" formControlName="firstName" required minlength="2" maxlength="40"/>
          <div *ngIf="signupForm.controls['firstName'].invalid && signupForm.controls['firstName'].touched" class="error-class">*campo obbligatorio</div>
        </div>

        <div class="input-div">
          <input type="text" placeholder="Cognome" class="input-box" formControlName="lastName" required minlength="2" maxlength="40"/>
          <div *ngIf="signupForm.controls['lastName'].invalid && signupForm.controls['lastName'].touched" class="error-class">*campo obbligatorio</div>
        </div>

        <div class="email-input">
          <input type="email" placeholder="Email" class="input-box" formControlName="email" required/>
          <div *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched" class="error-class">*campo obbligatorio</div>
        </div>

        <div class="input-div">
          <input type="text" placeholder="Telefono" class="input-box" formControlName="phoneNumber" required maxlength="10"/>
          <div *ngIf="signupForm.controls['phoneNumber'].invalid && signupForm.controls['phoneNumber'].touched" class="error-class">*campo obbligatorio</div>
        </div>

        <div class="password-input">
          <input type="password" placeholder="Password" class="input-box" formControlName="password" required minlength="7"/>
          <div *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched" class="error-class">*campo obbligatorio</div>
        </div>

        <div class="password-input">
          <input type="password" placeholder="Conferma password" class="input-box" formControlName="confirmPassword" required minlength="7"/>
          <div *ngIf="signupForm.controls['confirmPassword'].invalid && signupForm.controls['confirmPassword'].touched" class="error-class">*campo obbligatorio</div>
        </div>
      </div>
      <div class="login-buttons-div">
        <button type="submit" [disabled] = "signupForm.pristine || signupForm.invalid" class="signup-btn blue-btn">Registrati</button>
      </div>
      <div class="back-to-login" routerLink="/auth/login">
        <span>Sei già registrato? Accedi</span>
      </div>
    </form>

  </div>
</div>

