<div class="login-background">

  <div class="authImg-div">

    <img class="authImg" src="assets/img/authImg.png">

    <div class="authImg-color"></div>

  </div>

  <div class="login-external-div">

    <form class="login-internal-div">

      <div class="login-title-div">
        <h1 class="login-title">Desk Booking</h1>
      </div>


        <div class="signup-form-div">

          <div class="input-div">
            <label class="form-label" for="name"></label>
            <input type="text" id="name" placeholder="name" class="input-box" formControlName="name" required/>
          </div>

          <div class="input-div">
            <label class="form-label" for="lastname"></label>
            <input type="text" id="lastname" placeholder="lastname" class="input-box" formControlName="lastname" required/>
          </div>

          <div class="email-input-div">
            <label class="form-label" for="email"></label>
            <input type="email" id="email" placeholder="email" class="input-box" formControlName="email" required/>
          </div>

          <div class="input-div">
            <label class="form-label" for="phone"></label>
            <input type="number" id="phone" placeholder="phone" class="input-box" formControlName="phone" required/>
          </div>


          <div class="password-input-div">
            <label class="form-label" for="password"></label>
            <input type="password" id="password" placeholder="password" class="input-box" formControlName="password" required/>
          </div>

          <div class="password-input-div">
            <label class="form-label" for="passwordConfirm"></label>
            <input type="password" id="passwordConfirm" placeholder="password" class="input-box" formControlName="passwordConfirm" required/>
          </div>

        </div>


      <div class="login-buttons-div">
        <button type="submit" class="signup-button signup-btn blue-btn">Singup</button>
      </div>


    </form>



  </div>

</div>
