<!--
<div class="left-img">
  <img src="assets/authImg.png" alt="office">
</div>
<div class="right-container">
  <div class="title">
    <h1>Desk Booking</h1>
  </div>
  <div class="signup-form">
  <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <input placeholder="Name" type="text" formControlName="name">
    <div *ngIf="signupForm.controls['name'].invalid && (signupForm.controls['name'].dirty || signupForm.controls['name'].touched)" class="text-danger" >
      <small *ngIf="signupForm.controls['name'].errors">
        Name is invalid
      </small>
    </div>
    <input placeholder="Lastname" type="text" formControlName="lastname">
    <div *ngIf="signupForm.controls['lastname'].invalid && (signupForm.controls['lastname'].dirty || signupForm.controls['lastname'].touched)" class="text-danger" >
      <small *ngIf="signupForm.controls['lastname'].errors">
        Lastname is invalid
      </small>
    </div>
    <input placeholder="E-mail" type="email" formControlName="email">
    <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)" class="text-danger" >
      <small *ngIf="signupForm.controls['email'].errors">
        E-mail is invalid
      </small>
    </div>
    <input placeholder="Phone" type="text" formControlName="phone">
    <div *ngIf="signupForm.controls['phone'].invalid && (signupForm.controls['phone'].dirty || signupForm.controls['phone'].touched)" class="text-danger" >
      <small *ngIf="signupForm.controls['phone'].errors">
        Phone is invalid
      </small>
    </div>
    <input placeholder="Password" type="password" formControlName="password">
    <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)" class="text-danger" >
      <small *ngIf="signupForm.controls['password'].errors">
        Password is invalid
      </small>
    </div>
    <input placeholder="Confirm Password" type="password" formControlName="confirmPassword">
    <div *ngIf="signupForm.controls['confirmPassword'].invalid && (signupForm.controls['confirmPassword'].dirty || signupForm.controls['confirmPassword'].touched)" class="text-danger" >
      <small *ngIf="signupForm.controls['confirmPassword'].errors">
        Doesn't match previous password
      </small>
    </div>
    <button type="submit" [disabled] = "signupForm.pristine || signupForm.invalid" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>
-->
<div class="login-background">
  <div class="authImg-div">
    <img class="authImg" src="assets/img/authImg.png">
    <div class="authImg-color"></div>
  </div>

  <div class="login-external-div">

    <form class="login-internal-div">

      <div class="login-title-div">
        <h1 class="login-title">Desk Booking</h1>
      </div>

      <div class="signup-form-div">
        <div class="input-div">
          <label class="form-label" for="name"></label>
          <input type="text" id="name" placeholder="name" class="input-box" formControlName="name" required/>
        </div>

        <div class="input-div">
          <label class="form-label" for="lastname"></label>
          <input type="text" id="lastname" placeholder="lastname" class="input-box" formControlName="lastname" required/>
        </div>

        <div class="email-input-div">
          <label class="form-label" for="email"></label>
          <input type="email" id="email" placeholder="email" class="input-box" formControlName="email" required/>
        </div>

        <div class="input-div">
          <label class="form-label" for="phone"></label>
          <input type="number" id="phone" placeholder="phone" class="input-box" formControlName="phone" required/>
        </div>

        <div class="password-input-div">
          <label class="form-label" for="password"></label>
          <input type="password" id="password" placeholder="password" class="input-box" formControlName="password" required/>
        </div>

        <div class="password-input-div">
          <label class="form-label" for="passwordConfirm"></label>
          <input type="password" id="passwordConfirm" placeholder="password" class="input-box" formControlName="passwordConfirm" required/>
        </div>
      </div>
      <div class="login-buttons-div">
        <button type="submit" class="signup-button signup-btn blue-btn">Singup</button>
      </div>
    </form>
  </div>
</div>

