<div *ngIf="roomStatusList" class="map-container">

  <div class="corner">

    <div [ngClass]="{'nounikey' : !roomStatusList[27].isCompanyRoom, 'unikey' : roomStatusList[27].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[27])}"
         class="room-cell">
      <a *ngIf="roomStatusList[27].isCompanyRoom && !roomIsFull(roomStatusList[27])" (click)="openDialog(dialog, roomStatusList[27])" ></a>
      <p class="room-number-corner">{{roomStatusList[27].roomNumber}}</p>
    </div>

    <div [ngClass]="{'nounikey' : !roomStatusList[28].isCompanyRoom, 'unikey' : roomStatusList[28].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[28])}"
         class="room-cell">
      <a *ngIf="roomStatusList[28].isCompanyRoom && !roomIsFull(roomStatusList[28])" (click)="openDialog(dialog, roomStatusList[28])" ></a>
      <p class="room-number-corner">{{roomStatusList[28].roomNumber}}</p>
    </div>

    <div [ngClass]="{'nounikey' : !roomStatusList[26].isCompanyRoom, 'unikey' : roomStatusList[26].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[26])}"
         class="room-cell">
      <a *ngIf="roomStatusList[26].isCompanyRoom && !roomIsFull(roomStatusList[26])" (click)="openDialog(dialog, roomStatusList[26])" ></a>
      <p class="room-number-corner">{{roomStatusList[26].roomNumber}}</p>
    </div>

    <div></div>

  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[29].isCompanyRoom, 'unikey' : roomStatusList[29].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[29])}"
       class="room-cell">
    <a *ngIf="roomStatusList[29].isCompanyRoom && !roomIsFull(roomStatusList[29])" (click)="openDialog(dialog, roomStatusList[29])" ></a>
    <p *ngIf="roomStatusList[29].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[29]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[29].roomNumber}}</p>
    <p *ngIf="roomStatusList[29].capacity != 0" class="room-capacity">{{roomStatusList[29].nbooking}} / {{roomStatusList[29].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[30].isCompanyRoom, 'unikey' : roomStatusList[30].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[30])}"
       class="room-cell">
    <a *ngIf="roomStatusList[30].isCompanyRoom && !roomIsFull(roomStatusList[30])" (click)="openDialog(dialog, roomStatusList[30])" ></a>
    <p *ngIf="roomStatusList[30].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[30]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[30].roomNumber}}</p>
    <p *ngIf="roomStatusList[30].capacity != 0" class="room-capacity">{{roomStatusList[30].nbooking}} / {{roomStatusList[30].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[31].isCompanyRoom, 'unikey' : roomStatusList[31].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[31])}"
       class="room-cell">
    <a *ngIf="roomStatusList[31].isCompanyRoom && !roomIsFull(roomStatusList[31])" (click)="openDialog(dialog, roomStatusList[31])" ></a>
    <p *ngIf="roomStatusList[31].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[31]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[31].roomNumber}}</p>
    <p *ngIf="roomStatusList[31].capacity != 0" class="room-capacity">{{roomStatusList[31].nbooking}} / {{roomStatusList[31].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[32].isCompanyRoom, 'unikey' : roomStatusList[32].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[32])}"
       class="room-cell">
    <a *ngIf="roomStatusList[32].isCompanyRoom && !roomIsFull(roomStatusList[32])" (click)="openDialog(dialog, roomStatusList[32])" ></a>
    <p *ngIf="roomStatusList[32].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[32]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[32].roomNumber}}</p>
    <p *ngIf="roomStatusList[32].capacity != 0" class="room-capacity">{{roomStatusList[32].nbooking}} / {{roomStatusList[32].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[33].isCompanyRoom, 'unikey' : roomStatusList[33].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[33])}"
    class="room-cell">
    <a *ngIf="roomStatusList[33].isCompanyRoom && !roomIsFull(roomStatusList[33])" (click)="openDialog(dialog, roomStatusList[33])" ></a>
    <p *ngIf="roomStatusList[33].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[33]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[33].roomNumber}}</p>
    <p *ngIf="roomStatusList[33].capacity != 0" class="room-capacity">{{roomStatusList[33].nbooking}} / {{roomStatusList[33].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[34].isCompanyRoom, 'unikey' : roomStatusList[34].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[34])}"
       class="room-cell">
    <a *ngIf="roomStatusList[34].isCompanyRoom && !roomIsFull(roomStatusList[34])" (click)="openDialog(dialog, roomStatusList[34])" ></a>
    <p *ngIf="roomStatusList[34].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[34]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[34].roomNumber}}</p>
    <p *ngIf="roomStatusList[34].capacity != 0" class="room-capacity">{{roomStatusList[34].nbooking}} / {{roomStatusList[34].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[35].isCompanyRoom, 'unikey' : roomStatusList[35].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[35])}"
       class="room-cell">
    <a *ngIf="roomStatusList[35].isCompanyRoom && !roomIsFull(roomStatusList[35])" (click)="openDialog(dialog, roomStatusList[35])" ></a>
    <p *ngIf="roomStatusList[35].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[35]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[35].roomNumber}}</p>
    <p *ngIf="roomStatusList[35].capacity != 0" class="room-capacity">{{roomStatusList[35].nbooking}} / {{roomStatusList[35].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[36].isCompanyRoom, 'unikey' : roomStatusList[36].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[36])}"
       class="room-cell">
    <a *ngIf="roomStatusList[36].isCompanyRoom && !roomIsFull(roomStatusList[36])" (click)="openDialog(dialog, roomStatusList[36])" ></a>
    <p *ngIf="roomStatusList[36].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[36]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[36].roomNumber}}</p>
    <p *ngIf="roomStatusList[36].capacity != 0" class="room-capacity">{{roomStatusList[36].nbooking}} / {{roomStatusList[36].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[37].isCompanyRoom, 'unikey' : roomStatusList[37].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[37])}"
       class="room-cell">
    <a *ngIf="roomStatusList[37].isCompanyRoom && !roomIsFull(roomStatusList[37])" (click)="openDialog(dialog, roomStatusList[37])" ></a>
    <p *ngIf="roomStatusList[37].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[37]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[37].roomNumber}}</p>
    <p *ngIf="roomStatusList[37].capacity != 0" class="room-capacity">{{roomStatusList[37].nbooking}} / {{roomStatusList[37].capacity}}</p>
  </div>

  <div class="corner">

    <div [ngClass]="{'nounikey' : !roomStatusList[0].isCompanyRoom, 'unikey' : roomStatusList[0].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[0])}"
         class="room-cell">
      <a *ngIf="roomStatusList[0].isCompanyRoom && !roomIsFull(roomStatusList[0])" (click)="openDialog(dialog, roomStatusList[0])" ></a>
      <p class="room-number-corner">{{roomStatusList[0].roomNumber}}</p>
    </div>

    <div [ngClass]="{'nounikey' : !roomStatusList[1].isCompanyRoom, 'unikey' : roomStatusList[1].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[1])}"
         class="room-cell">
      <a *ngIf="roomStatusList[1].isCompanyRoom && !roomIsFull(roomStatusList[1])" (click)="openDialog(dialog, roomStatusList[1])" ></a>
      <p class="room-number-corner">{{roomStatusList[1].roomNumber}}</p>
    </div>

    <div></div>

    <div [ngClass]="{'nounikey' : !roomStatusList[2].isCompanyRoom, 'unikey' : roomStatusList[2].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[2])}"
         class="room-cell">
      <a *ngIf="roomStatusList[2].isCompanyRoom && !roomIsFull(roomStatusList[2])" (click)="openDialog(dialog, roomStatusList[2])" ></a>
      <p class="room-number-corner">{{roomStatusList[2].roomNumber}}</p>
    </div>

  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[25].isCompanyRoom, 'unikey' : roomStatusList[25].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[25])}"
       class="room-cell">
    <a *ngIf="roomStatusList[25].isCompanyRoom && !roomIsFull(roomStatusList[25])" (click)="openDialog(dialog, roomStatusList[25])" ></a>
    <p *ngIf="roomStatusList[25].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[25]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[25].roomNumber}}</p>
    <p *ngIf="roomStatusList[25].capacity != 0" class="room-capacity">{{roomStatusList[25].nbooking}} / {{roomStatusList[25].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[3].isCompanyRoom, 'unikey' : roomStatusList[3].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[3])}"
       class="room-cell">
    <a *ngIf="roomStatusList[3].isCompanyRoom && !roomIsFull(roomStatusList[3])" (click)="openDialog(dialog, roomStatusList[3])" ></a>
    <p *ngIf="roomStatusList[3].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[3]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[3].roomNumber}}</p>
    <p *ngIf="roomStatusList[3].capacity != 0" class="room-capacity">{{roomStatusList[3].nbooking}} / {{roomStatusList[3].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[24].isCompanyRoom, 'unikey' : roomStatusList[24].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[24])}"
       class="room-cell">
    <a *ngIf="roomStatusList[24].isCompanyRoom && !roomIsFull(roomStatusList[24])" (click)="openDialog(dialog, roomStatusList[24])" ></a>
    <p *ngIf="roomStatusList[24].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[24]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[24].roomNumber}}</p>
    <p *ngIf="roomStatusList[24].capacity != 0" class="room-capacity">{{roomStatusList[24].nbooking}} / {{roomStatusList[24].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[4].isCompanyRoom, 'unikey' : roomStatusList[4].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[4])}"
       class="room-cell">
    <a *ngIf="roomStatusList[4].isCompanyRoom && !roomIsFull(roomStatusList[4])" (click)="openDialog(dialog, roomStatusList[4])" ></a>
    <p *ngIf="roomStatusList[4].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[4]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[4].roomNumber}}</p>
    <p *ngIf="roomStatusList[4].capacity != 0" class="room-capacity">{{roomStatusList[4].nbooking}} / {{roomStatusList[4].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[23].isCompanyRoom, 'unikey' : roomStatusList[23].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[23])}"
       class="room-cell">
    <a *ngIf="roomStatusList[23].isCompanyRoom && !roomIsFull(roomStatusList[23])" (click)="openDialog(dialog, roomStatusList[23])" ></a>
    <p *ngIf="roomStatusList[23].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[23]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[23].roomNumber}}</p>
    <p *ngIf="roomStatusList[23].capacity != 0" class="room-capacity">{{roomStatusList[23].nbooking}} / {{roomStatusList[23].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[5].isCompanyRoom, 'unikey' : roomStatusList[5].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[5])}"
       class="room-cell">
    <a *ngIf="roomStatusList[5].isCompanyRoom && !roomIsFull(roomStatusList[5])" (click)="openDialog(dialog, roomStatusList[5])" ></a>
    <p *ngIf="roomStatusList[5].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[5]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[5].roomNumber}}</p>
    <p *ngIf="roomStatusList[5].capacity != 0" class="room-capacity">{{roomStatusList[5].nbooking}} / {{roomStatusList[5].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[22].isCompanyRoom, 'unikey' : roomStatusList[22].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[22])}"
       class="room-cell">
    <a *ngIf="roomStatusList[22].isCompanyRoom && !roomIsFull(roomStatusList[22])" (click)="openDialog(dialog, roomStatusList[22])" ></a>
    <p *ngIf="roomStatusList[22].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[22]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[22].roomNumber}}</p>
    <p *ngIf="roomStatusList[22].capacity != 0" class="room-capacity">{{roomStatusList[22].nbooking}} / {{roomStatusList[22].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[6].isCompanyRoom, 'unikey' : roomStatusList[6].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[6])}"
       class="room-cell">
    <a *ngIf="roomStatusList[6].isCompanyRoom && !roomIsFull(roomStatusList[6])" (click)="openDialog(dialog, roomStatusList[6])" ></a>
    <p *ngIf="roomStatusList[6].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[6]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[6].roomNumber}}</p>
    <p *ngIf="roomStatusList[6].capacity != 0" class="room-capacity">{{roomStatusList[6].nbooking}} / {{roomStatusList[6].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[21].isCompanyRoom, 'unikey' : roomStatusList[21].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[21])}"
       class="room-cell">
    <a *ngIf="roomStatusList[21].isCompanyRoom && !roomIsFull(roomStatusList[21])" (click)="openDialog(dialog, roomStatusList[21])" ></a>
    <p *ngIf="roomStatusList[21].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[21]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[21].roomNumber}}</p>
    <p *ngIf="roomStatusList[21].capacity != 0" class="room-capacity">{{roomStatusList[21].nbooking}} / {{roomStatusList[21].capacity}}</p>
  </div>

  <div class="stairs">
        <img src="assets/img/stairsSymbol.png">
  </div>
  <div class="corner">

    <div [ngClass]="{'nounikey' : !roomStatusList[20].isCompanyRoom, 'unikey' : roomStatusList[20].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[20])}"
         class="room-cell">
      <a *ngIf="roomStatusList[20].isCompanyRoom && !roomIsFull(roomStatusList[20])" (click)="openDialog(dialog, roomStatusList[20])" ></a>
      <p class="room-number-corner">{{roomStatusList[20].roomNumber}}</p>
    </div>

    <div></div>

    <div [ngClass]="{'nounikey' : !roomStatusList[19].isCompanyRoom, 'unikey' : roomStatusList[19].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[19])}"
         class="room-cell">
      <a *ngIf="roomStatusList[19].isCompanyRoom && !roomIsFull(roomStatusList[19])" (click)="openDialog(dialog, roomStatusList[19])" ></a>
      <p class="room-number-corner">{{roomStatusList[19].roomNumber}}</p>
    </div>

    <div [ngClass]="{'nounikey' : !roomStatusList[18].isCompanyRoom, 'unikey' : roomStatusList[18].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[18])}"
         class="room-cell">
      <a *ngIf="roomStatusList[18].isCompanyRoom && !roomIsFull(roomStatusList[18])" (click)="openDialog(dialog, roomStatusList[18])" ></a>
      <p class="room-number-corner">{{roomStatusList[18].roomNumber}}</p>
    </div>

  </div>
  <div [ngClass]="{'nounikey' : !roomStatusList[17].isCompanyRoom, 'unikey' : roomStatusList[17].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[17])}"
       class="room-cell">
    <a *ngIf="roomStatusList[17].isCompanyRoom && !roomIsFull(roomStatusList[17])" (click)="openDialog(dialog, roomStatusList[17])" ></a>
    <p *ngIf="roomStatusList[17].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[17]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[17].roomNumber}}</p>
    <p *ngIf="roomStatusList[17].capacity != 0" class="room-capacity">{{roomStatusList[17].nbooking}} / {{roomStatusList[17].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[16].isCompanyRoom, 'unikey' : roomStatusList[16].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[16])}"
       class="room-cell">
    <a *ngIf="roomStatusList[16].isCompanyRoom && !roomIsFull(roomStatusList[16])" (click)="openDialog(dialog, roomStatusList[16])" ></a>
    <p *ngIf="roomStatusList[16].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[16]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[16].roomNumber}}</p>
    <p *ngIf="roomStatusList[16].capacity != 0" class="room-capacity">{{roomStatusList[16].nbooking}} / {{roomStatusList[16].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[15].isCompanyRoom, 'unikey' : roomStatusList[15].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[15])}"
       class="room-cell">
    <a *ngIf="roomStatusList[15].isCompanyRoom && !roomIsFull(roomStatusList[15])" (click)="openDialog(dialog, roomStatusList[15])" ></a>
    <p *ngIf="roomStatusList[15].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[15]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[15].roomNumber}}</p>
    <p *ngIf="roomStatusList[15].capacity != 0" class="room-capacity">{{roomStatusList[15].nbooking}} / {{roomStatusList[15].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[14].isCompanyRoom, 'unikey' : roomStatusList[14].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[14])}"
       class="room-cell">
    <a *ngIf="roomStatusList[14].isCompanyRoom && !roomIsFull(roomStatusList[14])" (click)="openDialog(dialog, roomStatusList[14])" ></a>
    <p *ngIf="roomStatusList[14].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[14]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[14].roomNumber}}</p>
    <p *ngIf="roomStatusList[14].capacity != 0" class="room-capacity">{{roomStatusList[14].nbooking}} / {{roomStatusList[14].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[13].isCompanyRoom, 'unikey' : roomStatusList[13].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[13])}"
       class="room-cell">
    <a *ngIf="roomStatusList[13].isCompanyRoom && !roomIsFull(roomStatusList[13])" (click)="openDialog(dialog, roomStatusList[13])" ></a>
    <p *ngIf="roomStatusList[13].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[13]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[13].roomNumber}}</p>
    <p *ngIf="roomStatusList[13].capacity != 0" class="room-capacity">{{roomStatusList[13].nbooking}} / {{roomStatusList[13].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[12].isCompanyRoom, 'unikey' : roomStatusList[12].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[12])}"
       class="room-cell">
    <a *ngIf="roomStatusList[12].isCompanyRoom && !roomIsFull(roomStatusList[12])" (click)="openDialog(dialog, roomStatusList[12])" ></a>
    <p *ngIf="roomStatusList[12].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[12]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[12].roomNumber}}</p>
    <p *ngIf="roomStatusList[12].capacity != 0" class="room-capacity">{{roomStatusList[12].nbooking}} / {{roomStatusList[12].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[11].isCompanyRoom, 'unikey' : roomStatusList[11].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[11])}"
       class="room-cell">
    <a *ngIf="roomStatusList[11].isCompanyRoom && !roomIsFull(roomStatusList[11])" (click)="openDialog(dialog, roomStatusList[11])" ></a>
    <p *ngIf="roomStatusList[11].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[11]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[11].roomNumber}}</p>
    <p *ngIf="roomStatusList[11].capacity != 0" class="room-capacity">{{roomStatusList[11].nbooking}} / {{roomStatusList[11].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[10].isCompanyRoom, 'unikey' : roomStatusList[10].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[10])}"
       class="room-cell">
    <a *ngIf="roomStatusList[10].isCompanyRoom && !roomIsFull(roomStatusList[10])" (click)="openDialog(dialog, roomStatusList[10])" ></a>
    <p *ngIf="roomStatusList[10].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[10]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[10].roomNumber}}</p>
    <p *ngIf="roomStatusList[10].capacity != 0" class="room-capacity">{{roomStatusList[10].nbooking}} / {{roomStatusList[10].capacity}}</p>
  </div>

  <div [ngClass]="{'nounikey' : !roomStatusList[9].isCompanyRoom, 'unikey' : roomStatusList[9].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[9])}"
       class="room-cell">
    <a *ngIf="roomStatusList[9].isCompanyRoom && !roomIsFull(roomStatusList[9])" (click)="openDialog(dialog, roomStatusList[9])" ></a>
    <p *ngIf="roomStatusList[9].isCompanyRoom" [ngClass]="roomIsFull(roomStatusList[9]) ? 'fa fa-lock' : 'fa fa-unlock-alt'" class="room-lock"></p>
    <p class="room-number">{{roomStatusList[9].roomNumber}}</p>
    <p *ngIf="roomStatusList[9].capacity != 0" class="room-capacity">{{roomStatusList[9].nbooking}} / {{roomStatusList[9].capacity}}</p>
  </div>

  <div class="corner">

    <div [ngClass]="{'nounikey' : !roomStatusList[8].isCompanyRoom, 'unikey' : roomStatusList[8].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[8])}"
         class="room-cell left-room-one">
      <a *ngIf="roomStatusList[8].isCompanyRoom && !roomIsFull(roomStatusList[8])" (click)="openDialog(dialog, roomStatusList[8])" ></a>
      <p class="room-number-corner">{{roomStatusList[8].roomNumber}}</p>
    </div>

    <div [ngClass]="{'nounikey' : !roomStatusList[7].isCompanyRoom, 'unikey' : roomStatusList[7].isCompanyRoom, 'fullBooked' : roomIsFull(roomStatusList[7])}"
         class="room-cell left-room-two">
      <a *ngIf="roomStatusList[7].isCompanyRoom && !roomIsFull(roomStatusList[7])" (click)="openDialog(dialog, roomStatusList[7])" ></a>
      <p class="room-number-corner">{{roomStatusList[7].roomNumber}}</p>
    </div>

  </div>

  <div class="center-div">
    <img src="assets/img/unikey-logo.png">
    <div class="map-legend">
      <div class="d-flex">
        <div class="legend-color-green"></div>
        <p class="m-0">Desk disponibili</p>
      </div>
      <div class="d-flex">
        <div class="legend-color-red"></div>
        <p class="m-0">Stanze piene</p>
      </div>
      <div class="d-flex">
        <div class="legend-color-grey"></div>
        <p class="m-0">Stanze non prenotabili</p>
      </div>
    </div>
  </div>

</div>

<ng-template #dialog>
  <div mat-dialog-content class="my-dialog">
    <div class="dialog-head">
      <p class="dialog-booking-number"># {{bookingList.length + 1 | bookingNumber}}</p>
    </div>
    <div class="dialog-body">

    <div class="d-flex align-items-center">
      <img class="user-avatar" src="{{user?.avatar}}">
      <p class="user-name">{{user?.firstName}} {{user?.lastName}}</p>
    </div>
    <div class="dialog-booking-info">
      <p class="bi bi-calendar3">&nbsp;&nbsp;&nbsp;{{date | myDateView}}</p>
      <p class="bi bi-geo-alt-fill">&nbsp;&nbsp;&nbsp;Spaces, Viale dell'Arte 19</p>
      <p class="bi bi-building">&nbsp;&nbsp;&nbsp;5° piano</p>
    </div>
    <div class="d-flex">
      <img class="dialog-room-key" src="assets/img/key-svgrepo-com (1).svg">
      <p class="dialog-room-number">{{roomStatus.roomNumber}}</p>
    </div>
    <div class="w-100 d-flex justify-content-evenly mb-3">
      <button class="white-btn" (click)="closeDialog()">Annulla</button>
      <button type="submit" class="blue-btn" (click)="postBooking()" routerLink="/home">Conferma</button>
    </div>
    </div>
  </div>
</ng-template>
