
<app-header></app-header>
<div id="container" *ngIf="exist else template">
  <a routerLink="/booking-detail/{{booking.id}}" class="cardHome" *ngFor="let booking of bookingsList">
    <div class="date">
      <div class="h5-container">
        <h5># {{booking.id}}</h5>
      </div>
      <div class="cardTitle">
        <p>{{booking.bookDate}}</p>
      </div>
    </div>
    <div class="bodyCard">
      <img src="../../../assets/img/key-svgrepo-com%20(1).svg">
      <p class="cardText">{{booking.room?.roomNumber}}</p>
    </div>
  </a>
</div>

<ng-template #template>
  <div class="no-bookings">
    <p>
      Al momento non ci sono prenotazioni...
    </p>
  </div>
</ng-template>

